/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2019, 2:29:51 PM
    Author     : URK17CS254
*/
body{
    background-image: url('download_3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    background-color: white;
}
nav{
   background-color: #333;
  overflow: hidden;
}
 a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
a:hover {
  background-color: #ddd;
  color: black;
}
div1.absolute {
  position: abolute;
  width: 400px;
  height: 400px;
  left: 300;
} 

div2.absolute {
  position: absolute;
  top: 230px;
  left: 100px;
  width: 400px;
  height: 400px;
}
div3.absolute{
    position: absolute;
    top: 350px;
    left: 10px;
    width: 400px;
    height: 400px;
}
div4.absolute{
    position: absolute;
    left: 500px;
    width: 100px;
    height: 100px;
    border: 2px solid #73AD21;
    background-color: blue;
    
}
div5.absolute{
    position: absolute;
    top:180px;
    left: 550px;
    width: 100px;
    height: 100px;
    border: 2px solid #73AD21;
    background-color: red;
    
}
div6.absolute{
    position: absolute;
    top: 240px;
    left: 600px;
    width: 100px;
    height: 100px; 
    border: 2px solid #73AD21;
    background-color: green;
}
div7.absolute{
    position: absolute;
    top: 300px;
    left: 650px;
    width: 100px;
    height: 100px; 
    border: 2px solid #73AD21;
    background-color: skyblue;
}
div8.absolute{
    position: absolute;
    top: 240px;
    right: 0px;
    color: red;
}
div9.absolute{
   position: absolute;
   top: 570px;
   left: 0px;
   width: 97.5%;
   height: 80px;
   border-color: black;
   background-color:black;
   padding: 20px;
}
div10.absolute{
    background-color:white;
    position: absolute;
    top: 680px;
    left: 0px;
    height: 50px;
    width: 97.5%;
    color: red;
    position: center;
    text-align:center;
    border-color: white;
    padding: 20px;
}
div11.absolute{
    position: absolute;
    right: 2px;
    bottom: 10px;
}
